@* todo: redesign *@
@model NWHarvest.Web.ViewModels.ListingViewModel
@{
    ViewBag.Title = "Listing Details";
}

<h2>@ViewBag.Title</h2>
<h3>@Model.UserName</h3>
<hr />

@Html.Partial("_ListingDetails", Model)
<hr />
@Html.Partial("_PickupLocation", Model.PickupLocation)
<br />
<p>
    @Html.ActionLink("Edit", "Edit", "Listings", new { Id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Delete", "Delete", "Listings", new { Id = Model.Id }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Back", "Manage", "Listings", null, new { @class = "btn btn-default" })
</p>