@model IEnumerable<NWHarvest.Web.ViewModels.ListingViewModel>

@{
    ViewBag.Title = $"{ViewBag.UserName}";
    ViewBag.NavBarTitle = "Listings";
    var availableListings = Model.Where(l => l.IsAvailable == true && l.ExpirationDate.Date > DateTime.UtcNow.Date);
    var claimedListings = Model.Where(l => l.QuantityClaimed > 0);
    var expiredListings = Model.Where(l => l.QuantityClaimed == 0 && l.ExpirationDate.Date < DateTime.UtcNow.Date);
}

<h3>@ViewBag.Title</h3>
<p>
    @Html.ActionLink("Add Listing", "Create", null, new { @class = "btn btn-primary" })
    <a href="@ViewBag.ProfileUrl" class="btn btn-primary">Back to Profile</a>
</p>

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#availableListings" aria-controls="firstList" role="tab" data-toggle="tab">Available</a></li>
        <li role="presentation"><a href="#claimedListings" aria-controls="secondList" role="tab" data-toggle="tab">Claimed</a></li>
        <li role="presentation"><a href="#expiredListings" aria-controls="thirdList" role="tab" data-toggle="tab">Expired</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="availableListings">
                    <div>
                        @Html.Partial("__AvailableListingDataTable", availableListings)
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="claimedListings">
                    <div>
                        @Html.Partial("__ClaimedListingDataTable", claimedListings)
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="expiredListings">
                    <div>
                        @Html.Partial("__ExpiredListingDataTable", expiredListings)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/javascript")

    <script type="text/javascript">
        $(document).ready(function () {

            $("a[data-toggle=\"tab\"]").on("shown.bs.tab", function (e) {
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust()
                    .responsive.recalc();
            });

            var table = $('.table')
                .dataTable({
                    responsive: {
                        details: {
                            type: 'column',
                            target: -1,
                            display: $.fn.dataTable.Responsive.display.modal({
                                header: function (row) {
                                    return 'Listing';
                                }
                            }),
                            renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                                tableClass: 'table'
                            })
                        }
                    },
                    columnDefs: [{
                        className: 'control',
                        orderable: false,
                        targets: [-1]
                    },
                    {
                        visible: false,
                        targets: [-3]
                    },
                    {
                        orderable: false,
                        targets: [-2]
                    }]
                });
        });
    </script>
}

