@model NWHarvest.Web.ViewModels.AddressViewModel

<div class="card-text">@Html.DisplayFor(model => model.Address1)</div>
<div class="card-text">@Html.DisplayFor(model => model.Address2)</div>
<div class="card-text">@Html.DisplayFor(model => model.Address3)</div>
<div class="card-text">@Html.DisplayFor(model => model.Address4)</div>
<div class="card-text">@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)</div>
