@model IEnumerable<NWHarvest.Web.ViewModels.ClaimViewModel>

<table class="display table" width="100%">
    <thead>
        <tr>
            <th data-priority="4">@Html.DisplayNameFor(model => model.ClaimedOn)</th>
            <th data-priority="1">@Html.DisplayNameFor(model => model.Product)</th>
            <th data-priority="2">@Html.DisplayNameFor(model => model.Quantity)</th>
            <th data-priority="3">@Html.DisplayNameFor(model => model.CostPerUnit)</th>
            <th data-priority="6">@Html.DisplayNameFor(model => model.Address.City)</th>
            <th data-priority="5">@Html.DisplayNameFor(model => model.Address.County)</th>
            <th data-priority="7">@Html.DisplayNameFor(model => model.Address.Zip)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ClaimedOn)</td>
                <td>@Html.DisplayFor(modelItem => item.Product)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.CostPerUnit)</td>
                <td>@Html.DisplayFor(modelItem => item.Address.City)</td>
                <td>@Html.DisplayFor(modelItem => item.Address.County)</td>
                <td>@Html.DisplayFor(modelItem => item.Address.Zip)</td>
            </tr>
        }
    </tbody>
</table>