@model IEnumerable<NWHarvest.Web.ViewModels.ClaimViewModel>

<ul class="list-group">
    @foreach (var claim in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6 card">
                    <div class="card-body">
                        <h4 class="card-title">@claim.Grower.Name</h4>
                        <div class="card-text">@claim.Quantity @claim.Product</div>
                        <div class="card-text">Cost Per Unit: @claim.CostPerUnit </div>
                    </div>
                </div>
                <div class="col-xs-6 pull-right">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.ActionLink("Pickup", "Pickup", "FoodBanks", new { ListingId = claim.ListingId }, new { @class = "btn btn-default btn-sm" })
                        </h5>
                        <div class="card-text">@Html.Partial("_Address", claim.Address)</div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>
