@model NWHarvest.Web.ViewModels.PickupLocationViewModel

@{
    ViewBag.NavBarTitle = "Pickup Confirmation";
}

<h3>@Html.DisplayFor(model => model.Grower.Name)</h3>
<hr />

<div class="strong">@Html.DisplayFor(model => model.Name)</div>
@Html.Partial("_Address", Model.Address)
<div>@Html.DisplayFor(model => model.Comments)</div>
<br />
<div class="strong">Listing Info</div>
<div>@Model.Listing.Product</div>
<div>Quantity: @Model.Listing.QuantityAvailable @Model.Listing.UnitOfMeasure </div>
<br />
@Html.Partial("_PickupForm", Model.Listing)
