@model NWHarvest.Web.ViewModels.FoodBankViewModel

@{
    ViewBag.Title = "Profile";
    ViewBag.NavBarTitle = ViewBag.Title;
}
<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@Html.DisplayFor(model => model.Name)</h3>
                <div class="card-text">@Html.DisplayFor(model => model.Email)</div>
                @Html.Partial("_Address", Model.Address)
                <p>
                    <div>
                        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Settings")" class="btn btn-primary">Settings</a>
                    </div>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Listings @Html.ActionLink("Create New", "Create", "Listings", null, new { @class = "btn btn-xs btn-success" }) </h4>
                @Html.Partial("_FoodBankTableListing", Model)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/javascript")

    <script type="text/javascript">
        $(document).ready(function () {

            $("a[data-toggle=\"tab\"]").on("shown.bs.tab", function (e) {
                console.log('show tab');
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust()
                    .responsive.recalc();
            });

            var table = $('.table')
                .dataTable({
                    responsive: {
                        details: {
                            display: $.fn.dataTable.Responsive.display.modal({
                                header: function (row) {
                                    return 'Listing Details';
                                }
                            }),
                            renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                                tableClass: 'table'
                            })
                        }
                    }
                });
        });
    </script>
}
