@model NWHarvest.Web.Models.FoodBank

@{
    ViewBag.Title = "Details";
}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">@Html.DisplayFor(model => model.name)</h2>
        <h4 class="card-subtitle mb-2 text-muted">Food Bank</h4>
        <div class="card-text">@Html.DisplayFor(model => model.email)</div>
        <div class="card-text">@Html.DisplayFor(model => model.address1)</div>
        <div class="card-text">@Html.DisplayFor(model => model.address2)</div>
        <div class="card-text">@Html.DisplayFor(model => model.address3)</div>
        <div class="card-text">@Html.DisplayFor(model => model.address4)</div>
        <div class="card-text">@Html.DisplayFor(model => model.city), @Html.DisplayFor(model => model.state) @Html.DisplayFor(model => model.zip)</div>
        <div class="card-text">@(Model.IsActive ? "Active" : "Not Active")</div>
        <p>
            @Html.ActionLink("Edit", "RoleEdit", new { id = Model.Id }, new { @class = "card-link btn-sm btn-primary btn-sm" })
        </p>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h4 class="card-title h4">My Locations</h4>
        <h6 class="card-subtitle"><a href="#" class="card-link btn btn-primary btn-sm">Add</a></h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>


<br />
<div class="card">
    <div class="card-body">
        <h4 class="card-title h4">My Listings</h4>
        <h6 class="card-subtitle"><a href="#" class="card-link btn btn-primary btn-sm">Add</a></h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>
