@model IEnumerable<NWHarvest.Web.ViewModels.ListingViewModel>
@{
    TempData["NotOrderableColumns"] = new int[] { 3, 5 };
}
<table class="table table-hover table-responsive" id="listingTable">
    <thead>
        <tr>
            <th>Grower</th>
            <th>FoodBank</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Expires</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GrowerName</td>
                <td>@item.FoodBank.Name</td>
                <td>@item.Product</td>
                <td>@item.QuantityAvailable @item.UnitOfMeasure</td>
                <td>@item.ExpirationDate.ToShortDateString()</td>
                <td>@Html.ActionLink("Delete", "Delete", "Listings", new { Id = item.Id, ReturnUrl = ViewBag.ReturnUrl }, null)</td>
            </tr>
        }
    </tbody>
</table>