@model IEnumerable<NWHarvest.Web.ViewModels.AdministratorListingViewModel>
@{ 
    ViewBag.Title = "Administrator";
}

<h2>@ViewBag.Title</h2>
<style>
    table {
        table-layout: fixed;
    }
    table.dataTable thead th {
        padding:10px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@ViewBag.PanelHeader <span class="badge">@Model.Count()</span></h4>
            </div>
            <div class="panel-body">
                @Html.Partial(ViewBag.ListingPartialView as string, Model.ToList())
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Back to Profile", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/javascript")
    <script type="text/javascript">
        $(document).ready(function () {
                var notOrderableColumnArray = @Html.Raw(Json.Encode(TempData["NotOrderableColumns"] as Array));
                var table = $('#listingTable').dataTable({
                    "columnDefs": [
                        { "orderable": false, "targets": notOrderableColumnArray }
                    ]
                });
        });
    </script>
}