@using NWHarvest.Web.Enums
@model IEnumerable<NWHarvest.Web.ViewModels.ListingViewModel>
@{ 
    ViewBag.Title = "Administrator";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@ViewBag.PanelHeader <span class="badge">@Model.Count()</span></h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive dataTables_scroll" id="userTable">
                    <thead>
                        <tr>
                            <th>Grower</th>
                            <th>FoodBank</th>
                            <th>Product</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.GrowerName</td>
                            <td>@item.FoodBank.Name</td>
                            <td>@item.Product</td>
                            <td>@Html.ActionLink("Delete", "Delete", "Listings", new { Id = item.Id, ReturnUrl = ViewBag.ReturnUrl }, null)</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Back to Profile", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>