@using NWHarvest.Web.Enums
@model IEnumerable<NWHarvest.Web.ViewModels.FoodBankViewModel>

@{
    ViewBag.Title = "Administrator";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Manage FoodBanks <span class="badge">@Model.Count()</span></h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive dataTables_scroll" id="userTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.Name, "ManageFoodBank", new { Id = item.Id })</td>
                            <td>@(item.IsActive ? "Yes" : "No")</td>
                            <td>
                                @(item.IsActive ? Html.ActionLink("Disable", "ToggleEnableDisableUser", new { UserRole = UserRole.FoodBank, userId = item.Id }, new { @class = "" }) : Html.ActionLink("Enable", "ToggleEnableDisableUser", new { UserRole = UserRole.FoodBank, userId = item.Id }, new { @class = "" }))
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Back to Profile", "Index", null, new { @class = "btn btn-primary"})
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/javascript")
    <script type="text/javascript">
            $(document).ready(function () {
                var table = $('#userTable').dataTable();
            });
    </script>
}