@model IEnumerable<NWHarvest.Web.ViewModels.ListingViewModel>

<table class="table table-striped table-hover table-responsive" id="firstTable" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Product)</th>
            <th>@Html.DisplayNameFor(model => model.QuantityAvailable)</th>
            <th>@Html.DisplayNameFor(model => model.UnitOfMeasure)</th>
            <th>@Html.DisplayNameFor(model => model.HarvestDate)</th>
            <th>@Html.DisplayNameFor(model => model.ExpirationDate)</th>
            <th>@Html.DisplayNameFor(model => model.CostPerUnit)</th>
            <th>@Html.DisplayNameFor(model => model.Comments)</th>
            <th>@Html.DisplayNameFor(model => model.PickupLocation.Address.City)</th>
            <th>@Html.DisplayNameFor(model => model.PickupLocation.Address.County)</th>
            <th>@Html.DisplayNameFor(model => model.PickupLocation.Address.Zip)</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Product)</td>
            <td>@Html.DisplayFor(modelItem => item.QuantityAvailable)</td>
            <td>@Html.DisplayFor(modelItem => item.UnitOfMeasure)</td>
            <td>@Html.DisplayFor(modelItem => item.HarvestDate)</td>
            <td>@Html.DisplayFor(modelItem => item.ExpirationDate)</td>
            <td>@Html.DisplayFor(modelItem => item.CostPerUnit)</td>
            <td>@Html.DisplayFor(modelItem => item.Comments)</td>
            <td>@Html.DisplayFor(modelItem => item.PickupLocation.Address.City)</td>
            <td>@Html.DisplayFor(modelItem => item.PickupLocation.Address.County)</td>
            <td>@Html.DisplayFor(modelItem => item.PickupLocation.Address.Zip)</td>
            <td>
                @Html.ActionLink("Details", "Details", "Listings", new { id = item.Id }, null)
                <b> | </b>
                @Html.ActionLink("Edit", "Edit", "Listings", new { id = item.Id }, null)
                <b> | </b>
                @Html.ActionLink("Delete", "Delete", "Listings", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>