@model NWHarvest.Web.ViewModels.GrowerViewModel

<div class="card">
    <div class="card-body">
        <h2 class="card-title">@Html.DisplayFor(model => model.Name)</h2>
        @*<h4 class="card-subtitle mb-2 text-muted">Grower</h4>*@
        <div class="card-text">@Html.DisplayFor(model => model.Email)</div>
        @Html.Partial("_Address", Model.Address)
        <div class="card-text">@(Model.IsActive ? "Active" : "Not Active")</div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "card-link btn btn-primary" })
            @Html.ActionLink("Manage Locations", "Manage", "PickupLocations", null, new { @class = "card-link btn btn-primary" })
            @Html.ActionLink("Settings", "Settings", "Growers", null, new { @class = "card-link btn btn-primary" })
        </p>
    </div>
</div>