@model NWHarvest.Web.ViewModels.GrowerViewModel

<div class="card">
    <div class="card-body">
        <h2 class="card-title">@Html.DisplayFor(model => model.Name)</h2>
        @*<h4 class="card-subtitle mb-2 text-muted">Grower</h4>*@
        <div class="card-text">@Html.DisplayFor(model => model.Email)</div>
        @Html.Partial("_Address", Model.Address)
        <div class="card-text">@(Model.IsActive ? "Active" : "Not Active")</div>
        <p>
            <div>
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Manage", "PickupLocations")" class="btn btn-primary">Manage Locations</a>
                    <a href="@Url.Action("Settings")" class="btn btn-primary">Settings</a>
            </div>
        </p>
    </div>
</div>