@model NWHarvest.Web.ViewModels.UserViewModel

<p>
    <span class="strong">Password: </span>
    *******
</p>
<p>
    <span class="strong">Phone Number: </span>
    @(Model.PhoneNumber ?? "None")
</p>
<p>
    <span class="strong">Notification: </span>
    @Model.NotificationPreference
</p>
    @*<div>
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
            {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "PhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "PhoneNumber")&nbsp;&nbsp;]</text>
                }
            </dd>
        </dl>
    </div>*@
