@model NWHarvest.Web.ViewModels.UserViewModel
@{
    ViewBag.Title = "Settings";

    var passwordActionLink = Model.HasPassword ?
    Html.ActionLink("Change password", "ChangePassword", null, new { @class = "btn btn-danger" }) :
    Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-primary" });

    var phoneNumberActionLink = String.IsNullOrWhiteSpace(Model.PhoneNumber) ?
        Html.ActionLink("Add Phone Number", "PhoneNumber", null, new { @class = "btn btn-primary" }) :
        Html.ActionLink("Manage Phone Number", "PhoneNumber", null, new { @class = "btn btn-primary" });

    var notificationActionLink = Html.ActionLink("Change Notification", "Notification", null, new { @class = "btn btn-primary" });
}

<h2>@ViewBag.Title</h2>
<h3><a href="@Model.ProfileUrl">@Model.Name</a></h3>
<div class="text-success">@ViewBag.StatusMessage</div>
<hr />
@Html.Partial("_Index", Model)

<div>
    @passwordActionLink @phoneNumberActionLink @notificationActionLink
</div>