@model NWHarvest.Web.ViewModels.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserType, new { @class = "col-md-10 col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.DropDownListFor(m => m.UserType, ViewBag.UserTypes as List<SelectListItem>, "Select User Type", new { @class = "selectpicker form-control", @data_style = "btn-default" })
            @Html.ValidationMessageFor(m => m.UserType, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmEmail, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address1, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address2, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.County, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.DropDownListFor(m => m.County, ViewBag.Counties as List<SelectListItem>, "Select County", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.County, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.State, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.DropDownListFor(m => m.State, ViewBag.States as List<SelectListItem>, "Select State", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Zip, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Notification, new { @class = "col-xs-10 col-xs-offset-1" })
        <div class="col-xs-10 col-xs-offset-1">
            @Html.DropDownListFor(m => m.Notification, ViewBag.Notifications as List<SelectListItem>, "Select Notification Method", new { @class = "form-control", @data_style = "btn-default" })
            @Html.ValidationMessageFor(m => m.Notification, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10 col-xs-offset-1">
            <input type="submit" class="btn btn-success btn-block" value="Register" />
        </div>
    </div>
}